body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.flex{
  display: flex;
}

div.Column{
  text-align: center;
  flex-basis: 25%;
  height: 100vh;
  border: 0.25em black solid;
}

.Column .cardholder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Column .goal-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card {
  height: 40px;
  margin: 0.25em;
}

.blue {
  background: blue;
}

.black {
  background: black;
}

.pink {
  background: pink;
}

.orange {
  background: orange;
}
